@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  width: 100vw;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.nodrop {
  pointer-events: none;
}

/* Disabilita la selezione del testo */
* {
  user-select: none;
  -webkit-user-select: none; /* Per Safari */
  -moz-user-select: none; /* Per Firefox */
  -ms-user-select: none; /* Per IE10+ */
}

/* Impedisce anche l'uso del tasto destro del mouse */
body {
  -webkit-touch-callout: none; /* Per iOS Safari */
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #A64744; /* Colore giallo (Tailwind: yellow-400) */
  border-radius: 10px !important; /* Arrotondiamo la scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #e5e7eb !important; /* Colore del track (Tailwind: gray-200) */
}
